@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

/* for cursor pointer by default , this is coming from tailwindcss docs */
@layer base {

    button:not(:disabled),
    [ role="button"]:not(:disabled) {
        @apply cursor-pointer;
    }
}